<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center hidden-print">
                    <li>
                        <a href="{{ site.social.twitter.url }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-brands fa-x-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.social.linkedin.url }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-brands fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.social.github.url }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-brands fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.social.scholar.url }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-brands fa-google-scholar fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.social.orcid.url }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-brands fa-orcid fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}/feed.xml">
                          <span class="fa-stack fa-lg">
                              <i class="fa-solid fa-circle fa-stack-2x"></i>
                              <i class="fa-solid fa-square-rss fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; WojciechNowicki.com 2013-{{ site.time | date: '%Y'}}, <a href="{{ site.baseurl }}/credits">credits</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ site.baseurl }}/assets/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/assets/js/clean-blog.min.js"></script>
