<div class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
      <h2 class="post-title">
          {{ post.title }}
      </h2>
      {% if post.subtitle %}
      <h3 class="post-subtitle">
          {{ post.subtitle}}
      </h3>
      {% endif %}
  </a>
  <p class="post-meta">
      Posted by <a href="{{ site.baseurl }}/about">{{ post.author }}</a> on {{ post.date|date_to_string }} in <a href="/blog/categories#{{ post.categories| first }}">{{ post.categories| first | capitalize}}</a>
      {% if post.language %}
       <img src="{{ site.baseurl }}/assets/flags/blank.gif" class="flag flag-{{ site.languages[post.language].flag }}" alt="{{ site.languages[post.language].name }}" />
      {% endif %}
      &middot; {% include read_time.html content=post.content %}
  </p>
</div>
