---
layout: page
title: Categories
heading: Blog Categories
subheading:
heading_image: blog.jpg
---
{% assign categories_ordered = site.categories | sort %}
{% for category in categories_ordered %}
  {% assign category_name = category[0] %}
  {% assign all_posts = category[1] %}
  {% assign posts = all_posts | slice: 0, 3 %}
  <div id="{{ category_name }}" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ category_name | capitalize }}</h3>
    </div>
    <ul class="list-group">
      {% for post in posts %}
        <li class="list-group-item">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> - {{ post.date | date: "%b %-d, %Y" }}
          <div>
            {% for tag in post.tags %}
              <a href="{{ site.baseurl }}/blog/tags/{{ tag }}" class="badge">#{{ tag }}</a>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
    {% if all_posts.size > 3 %}
      <div class="panel-footer">
        <a href="{{ site.baseurl }}/blog/categories/{{ category_name }}">View all posts in {{ category_name }}</a>
      </div>
    {% endif %}
  </div>
{% endfor %}
